/registryman
/vendor/
/globalregistry
/infra/harbor-1-kubeconfig.yaml
/infra/harbor-2-kubeconfig.yaml
*kubeconfig.yaml
Makefile
.golangci.yaml
*.tar
.vscode/
registryman-test
exported-registry
/.direnv/
/.dir-locals.el
/.projectile
/result
/manifests
/vendor
/testauto/result
