name: ci
on:
  pull_request:
  push:
    branches:
      - 'release-*'
      - 'master'
      - 'main'
    tags:
      - 'v*'
env:
  golang-version: '1.17'
jobs:
  dockercheck:
    name: Dockerfile linter
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ghe-actions/dockerfile-validator@v1
      with:
        dockerfile: 'Dockerfile'
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
  check-golang:
    runs-on: ubuntu-latest
    name: Golang linter
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.40.1
          args: --timeout 10m0s --build-tags "exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp"
  build:
    runs-on: ubuntu-latest
    name: Build binary
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ env.golang-version }}
    - run: go build -v -tags "exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp" .
  checks:
    runs-on: ubuntu-latest
    name: Go checks
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.golang-version }}
    - name: Go vet
      run: go vet -v -tags "exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp" ./... && git diff --exit-code
  check-codegen:
    runs-on: ubuntu-latest
    name: Checking codegen with nix
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v16
    - run: ./update-code.sh && git diff --exit-code
  unit-tests:
    runs-on: ubuntu-latest
    name: Unit tests
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ env.golang-version }}
    - run: go test -v ./... -race -tags "exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp"
  nix-build:
    runs-on: ubuntu-latest
    name: Building with nix
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v16
    - run: nix-build -A docker --argstr registryman-from local
  testauto:
    runs-on: ubuntu-latest
    name: Integration tests with kind
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v16
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Run tests
      working-directory: ./testauto
      run: |
        echo "172.18.0.2 harbor" | sudo tee -a /etc/hosts
        echo "172.18.0.2 harbor2" | sudo tee -a /etc/hosts
        ./setup-env.sh
        echo "Running CLI tests"
        ./ta-dev.sh -v tc run tests 2>&1
        echo "Running K8s resource tests"
        ./ta-dev.sh -v tc run tests test 2>&1
        echo "Running CLI tests - 2nd round"
        ./ta-dev.sh -v tc run tests 2>&1
        echo "Running K8s resource tests - 2nd round"
        ./ta-dev.sh -v tc run tests test 2>&1
    - name: Log registryman logs
      if: ${{ always() }}
      working-directory: ./testauto
      run: ./ta-dev.sh registryman log test


